.zoom-preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 9999;
    cursor: zoom-out;
}

.zoom-preview.active {
    opacity: 1;
    pointer-events: auto;
    animation: fade-in 0.3s ease-in-out;
}

.zoom-preview .zoomed-image {
    max-width: 80%;
    max-height: 80%;
}

.image-previewed{
    cursor: zoom-in;
}


@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
