:root {
    --primary-color: #0e0e0e;
}

body{
    background-color: rgba(233,233,233,0.22);
}


.product-card {
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.product-card img {
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}

.category-filter {
    display: inline-block;
    margin-right: 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.category-filter.active {
    background-color: #6c757d;
    color: #fff;
}


.category-filter:hover {
    background-color: #6c757d;
    color: #fff;
}

#header {
    /*height: 80px;*/
    /*transition: all 0.5s;*/
    z-index: 997;
    padding: 10px 0;
    background: var(--primary-color);
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.836);
}

#header.header-scrolled,
#header.header-pages {
    height: 65px;
    padding: 10px 0;
}

#header .logo h1 {
    font-size: 36px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header a,
#header a:hover {
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: -10px 0;
    max-height: 70px;
}

.main-pages {
    margin-top: 60px;
}


/* Desktop Navigation */

.main-nav {
    /* Drop Down */
    /* Deep Drop Down */
}

.main-nav,
.main-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav>ul>li {
    position: relative;
    white-space: nowrap;
    float: right;
}

.main-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 18px;
    font-weight: 500;
}

.main-nav a:hover,
.main-nav .active>a,
.main-nav li:hover>a {
    color: #ffd600;
    text-decoration: none;
}



.dropdown-item {
    padding: 10px 20px;
    font-size: 13px;
    color: #2c2c2c !important;
}

.dropdown-item:hover,
.dropdown-item.active {
    color: var(--primary-color) !important;
}

.dropdown-item:after {
    content: "\f107";
    font-family: FontAwesome;
    padding-right: 10px;
    float: left;
}



/* Mobile Navigation */

.mobile-nav {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 9999;
    overflow-y: auto;
    right: -260px;
    width: 260px;
    padding-top: 18px;
    background: rgba(19, 39, 57, 0.8);
    transition: 0.4s;
}

.mobile-nav * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.mobile-nav a {
    display: block;
    position: relative;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active>a,
.mobile-nav li:hover>a {
    color: #fffb05;
    text-decoration: none;
}

.mobile-nav .drop-down>a:after {
    content: "\f078";
    font-family: FontAwesome;
    padding-right: 10px;
    position: absolute;
    left: 15px;
}

.mobile-nav .active.drop-down>a:after {
    content: "\f077";
}

.mobile-nav .drop-down>a {
    padding-left: 35px;
}

.mobile-nav .drop-down ul {
    display: none;
    overflow: hidden;
}

.mobile-nav .drop-down li {
    padding-right: 20px;
}

.mobile-nav-toggle {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: left;
}

.mobile-nav-toggle i {
    margin: 18px 18px 0 0;
    color: var(--primary-color);
}

.mobile-nav-overly {
    width: 100%;
    height: 100%;
    z-index: 9997;
    top: 0;
    right: 0;
    position: fixed;
    background: rgba(19, 39, 57, 0.8);
    overflow: hidden;
    display: none;
}

.mobile-nav-active {
    overflow: hidden;
}

.mobile-nav-active .mobile-nav {
    right: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
    color: #fff;
}




h1 {
    margin-top: 30px;
}

.product-card h3 {
    font-size: 18px;
    margin-top: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
}

.modal-content {
    /* border-radius: 0; */
    padding: 0;
}

.cover-image {
    width: 100%;
    overflow: hidden;
    border-radius: 0.3rem;
}

.cover-image img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

.product-info {
    padding: 20px;
}

.product-info h3 {
    font-size: 24px;
    margin-top: 0;
}

.product-card button {
    width: 100%;
}

/*
Home section
*/
.home-section {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #ff9900, #ffffff, #ffffff); /* تعديل الألوان والتدرجات حسب التصميم المطلوب */
    /* قم بتكرار القاعدة لكل قسم وغير الألوان والتدرجات حسب التصميم المطلوب */


}

.home-section::before {
    content: "";
    position: absolute;
    top: -20px;
    left: 0;
    width: 100%;
    height: 40px;
    background-image: linear-gradient(135deg, #088e26, #00ff00, #14ff4a);
 /* تعديل اللون إلى اللون الجديد المرغوب */
    clip-path: polygon(0 100%, 0 0, 100% 0, 100% 50%);
}


.home-section .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}
.home-section .content {
    margin-top: 20px;
}
.home-section .content h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.home-section .content p {
    font-size: 25px;
    line-height: 1.5;
}

/*
Map
*/

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.container-fluid {
    background-color: #f8f8f8;
    padding: 20px;
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #000000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #272727;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;

    color: #fff;

}

#footer .footer-top .footer-info p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Changa", sans-serif;
    color: #ffc400;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28479e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #28479e;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
    color: #000;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #28479e;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #28479e;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    background: #000000;
    padding: 0 0 30px 0;
    color: #eee;
    font-size: 14px;
}

#footer .footer-top {
    background: #272727;
    padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
    margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
    font-size: 34px;

    color: #fff;

}

#footer .footer-top .footer-info p {
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Changa", sans-serif;
    color: #ffc400;
}

#footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #28479e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-left: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
    background: #28479e;
    color: #fff;
}

#footer .footer-top h4 {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul li {
    padding: 8px 0;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #ecf5ff;
}

#footer .footer-top .footer-links ul a:hover {
    color: #000;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
    line-height: 26px;
}

#footer .footer-top .footer-newsletter {
    margin-bottom: 30px;
}

#footer .footer-top .footer-newsletter input[type="email"] {
    border: 0;
    padding: 6px 8px;
    width: 65%;
}

#footer .footer-top .footer-newsletter input[type="submit"] {
    background: #28479e;
    border: 0;
    width: 35%;
    padding: 6px 0;
    text-align: center;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}

#footer .footer-top .footer-newsletter input[type="submit"]:hover {
    background: #28479e;
}

#footer .copyright {
    text-align: center;
    padding-top: 30px;
}


.row{
    overflow-x: hidden!important;
}
